mixin news-preview-card(title, desc, date, number)
  .news-preview-card(class=`news-preview-card__card-${number}`)
    h3.news-preview-card__title= title
    p.news-preview-card__desc= desc
    span.news-preview-card__date= date