.news-section {
  &__content {
    padding: 75px 0 80px;
  }
  &__desc {
    max-width: 1082px;
    margin: auto;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: $desc;
    margin-top: 21px;
  }
  &__news-box {
    display: grid;
    grid-template-areas:
      "img-1 img-1 card-1 img-2"
      "card-2 img-3 img-3 card-3";
    gap: 0;
    justify-content: center;
    margin-top: 74px;
    @media (max-width: 1270px) {
      grid-template-areas:
        "img-1 img-1"
        "card-1 card-2"
        "img-3 img-3"
        "img-2 card-3";
    }
    @media (max-width: 650px) {
      grid-template-areas:
        "img-1"
        "card-1"
        "img-3"
        "card-2"
        "img-2"
        "card-3";
    }
  }
  &__img {
    @media (max-width: 650px) {
      max-width: 300px;
      width: 100%;
    }
  }
  &__img-1 {
    grid-area: img-1;
  }
  &__img-2 {
    grid-area: img-2;
  }
  &__img-3 {
    grid-area: img-3;
  }

}


