.hamburger-menu {
  display: none;
  @media (max-width: $md) {
    display: block;
  }
  &__nav {
    position: absolute;
    top: 121px;
    right: 0;
    overflow: hidden;
    z-index: 999;
    @media (max-width: $sm) {
      width: 100%;
    }
    @media (max-width: 300px) {
      top: 157px;
    }
  }
  &__list {
    width: 300px;
    margin-top: -200px;
    text-align: center;
    background-color: $shade;
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
    @media (max-width: $sm) {
      width: 100%;
    }
    &_is-visible {
      margin-top: 0px;
      visibility: visible;
      opacity: 1;
    }
  }
  &__item {
    padding: 10px 0;
    &:not(:last-child) {
      border-bottom: 1px solid #ffffff22;
    }
  }
}

.hamburger {
  position: relative;
  z-index: 999;
}
