.hamburger-menu
  .hamburger.hamburger--collapse
    .hamburger-box
      .hamburger-inner
  .hamburger-menu__nav
    ul.hamburger-menu__list
      li.hamburger-menu__item
        a.hamburger-menu__link(href="#") HOME
      li.hamburger-menu__item
        a.hamburger-menu__link(href="#") SERVICES
      li.hamburger-menu__item
        a.hamburger-menu__link(href="#") ABOUT US
      li.hamburger-menu__item
        a.hamburger-menu__link(href="#") NEWS
      li.hamburger-menu__item
        a.hamburger-menu__link(href="#") CONTACT