.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 65px;
  font-size: 20px;
  background-color: $main;
  border-radius: 50px;
  &_empty {
    background-color: #343434;
  }
}
