include ../news-preview-card/news-preview-card
main.news-main.side-padding
  .news-main__content.container
    .news-main__news
      form.news-main__search-bar(action="#")
        input.news-main__input(type="text" required)
        button.news-main__search-btn(type="submit") <i class="fas fa-search"></i>
      .news-main__news-box
        img.news-main__img.news-main__img-1(src="/assets/img/news-section-1.png", alt="News photo")
        +news-preview-card("WHY FINANCIAL INSTITUTIONS NEED A NEW IT MODEL", "IT models are unlikely to deliver the competitive edge that banks, insurers and wealth management firms need from technology", "09.03.2014", "1")(class="news-preview-card__card-1")
        img.news-main__img.news-main__img-2(src="/assets/img/news-section-2.png", alt="News photo")
        +news-preview-card("REIMAGINING IT FOR AN OMNICHANEL WORLD", "The technology that powers retail is evolving rapidly. Retailers and their IT groups will have to rise to stay ahead.", "08.20.2014", "2")
        img.news-main__img.news-main__img-3(src="/assets/img/news-section-3.png", alt="News photo")
        +news-preview-card("MAKING THE MOST OF GENERATION ASSETS IN TURBULENT TIMES", "A thorough review of a power generation portfolio informs decisions about how to reduce costs, raise revenues and make strategic plans.", "08.27.2014", "3")
      .news-main__news-box
        img.news-main__img.news-main__img-1(src="/assets/img/news-main-1.png", alt="News photo")
        +news-preview-card("HOW SAAS PROVIDERS CAN USE PRICING TO REACH THEIR GOALS", "The case for considering both customers' needs and internal cost metrics.", "07.09.2014", "1")(class="news-preview-card__card-1")
        img.news-main__img.news-main__img-2(src="/assets/img/news-main-2.png", alt="News photo")
        +news-preview-card("GROWING BUSINESS OPPORTUNITIES FOR HEALTHY LIVING", "Consumers around the globe seek innovations for healthier lives.", "06.23.2014", "2")
        img.news-main__img.news-main__img-3(src="/assets/img/news-main-3.png", alt="News photo")
        +news-preview-card("WINNING SHOPERS IN THE STORE", "With shoppers now making buying decisions in a few seconds, consumer goods companies need a fool-proof system for winning in stores.", "07.25.2014", "3")
      a.news-main__btn(href="#") SHOW MORE