.our-clients
  h3.our-clients__title OUR CLIENTS
  .our-clients__silder
    .our-clients__logos
      img.our-clients__logo(src="/assets/img/our-clients__logo-1.png", alt="Oracle")
      img.our-clients__logo(src="/assets/img/our-clients__logo-2.png", alt="Sony")
      img.our-clients__logo(src="/assets/img/our-clients__logo-3.png", alt="SanDisk")
      img.our-clients__logo(src="/assets/img/our-clients__logo-4.png", alt="McAfee")
      img.our-clients__logo(src="/assets/img/our-clients__logo-5.png", alt="Netflix")
      img.our-clients__logo(src="/assets/img/our-clients__logo-6.png", alt="SAP")