include ../team-member/team-member
.our-team
  h3.our-team__title OUR TEAM
  .our-team__team-members
    +team-member("/assets/img/team-member-1.png", "Clark Kent", "Bad Debt Manager", "Team Leader")
    +team-member("/assets/img/team-member-2.png", "Clark Kent", "Bad Debt Manager", "Team Leader")
    +team-member("/assets/img/team-member-3.png", "Clark Kent", "Bad Debt Manager", "Team Leader")
    +team-member("/assets/img/team-member-4.png", "Clark Kent", "Bad Debt Manager", "Team Leader")
    +team-member("/assets/img/team-member-5.png", "Clark Kent", "Bad Debt Manager", "Team Leader")
    +team-member("/assets/img/team-member-6.png", "Clark Kent", "Bad Debt Manager", "Team Leader")
    +team-member("/assets/img/team-member-7.png", "Clark Kent", "Bad Debt Manager", "Team Leader")
    +team-member("/assets/img/team-member-8.png", "Clark Kent", "Bad Debt Manager", "Team Leader")
    +team-member("/assets/img/team-member-9.png", "Clark Kent", "Bad Debt Manager", "Team Leader")
    +team-member("/assets/img/team-member-10.png", "Clark Kent", "Bad Debt Manager", "Team Leader")
    +team-member("/assets/img/team-member-11.png", "Clark Kent", "Bad Debt Manager", "Team Leader")
    +team-member("/assets/img/team-member-12.png", "Clark Kent", "Bad Debt Manager", "Team Leader")