include ../section-title/section-title
include ../service-card/service-card
section.our-services.side-padding
  .out-services__content.container
    +section-title("OUR SERVICES")(class="our-services__section-title")
    p.our-services__desc Our management consulting services focus on our clients' most critical issues and opportunities. We have proven a multiplier effect from optimizing the sum of the parts, not just the individual pieces.
    .our-services__cards
      +service-card("/assets/img/our-services__icon-1.png", "Performance Improvement", "Enabling companies to grow revenue, improve margins and reposition quickly")
      +service-card("/assets/img/our-services__icon-2.png", "Customer Strategy & Marketing", "In-depth customer insights combined with economic and operational fundamentals")
      +service-card("/assets/img/our-services__icon-3.png", "Information Technology", "Realizing the full potential of IT resources, investments and assets")
      +service-card("/assets/img/our-services__icon-4.png", "Full Potential Transformation", "A cross-functional effort to alter the financial, operational and strategic trajectory of a business")
      +service-card("/assets/img/our-services__icon-5.png", "Strategy", "Tailored solutions that deliver results and achieve sustained growth")
      +service-card("/assets/img/our-services__icon-6.png", "Private Equity", "Advising investors across the entire investment life cycle")
      +service-card("/assets/img/our-services__icon-7.png", "Digital", "Deliver on core strategy, delight customers and operate smarter and faster")
      +service-card("/assets/img/our-services__icon-8.png", "Results Delivery", "Predicting, measuring and managing risk associated with change management")