.form-section {
  background: url("/assets/img/form-section-bg.png") no-repeat;
  background-size: cover;
  background-color: #000000;
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 93px 0 50px;
    @media(max-width: $lg) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__address-col {
    max-width: 496px;
    margin-right: 50px;
    @media(max-width: $lg) {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
  &__title {
    font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
    font-size: 30px;
    margin-bottom: 27px;
    color: $main;
  }
  &__desc {
    line-height: 20px;
    color: #ffffff;
    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 3px;
      margin: 25px 0 40px;
      background-color: $main;
    }
  }
  &__contact-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: $main;
    @media(max-width: 300px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 28px;
    width: 28px;
    height: 28px;
    margin-right: 15px;
    border: 1px solid $main;
    @media(max-width: 300px) {
      margin-bottom: 15px;
    }
  }
  &__contact {
    font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    color: #ffffff;
  }
  &__form {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    margin-right: 55px;
    width: 100%;
    @media(max-width: $lg) {
      margin-right: 0;
    }
  }
  &__form-title {
    font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
    font-size: 22px;
    color: $main;
    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      margin: 15px 0 22px;
      background-color: $main;
    }
  }
  &__form-desc {
    margin-bottom: 37px;
    color: #ffffff;
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 14px;
    background-color: transparent;
    color: #aeaeae;
    border: 1px solid #aeaeae;
  }
  &__message {
    height: 190px;
    margin-bottom: 39px;
    font-size: 14px;
    resize: none;
  }
  &__btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    margin-left: auto;
    font-size: 16px;
    color: #ffffff;
    background-color: $main;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      background-color: #ff8383;  
    }
  }
}
