section.form-section.side-padding
  .form-section__content.container
    .form-section__address-col
      h3.form-section__title SKOKOV
      p.form-section__desc Thank you for your interest in SKOKOV. Please contact us using the information below. To locate contacts in the SKOKOV office closest to you, visit our office websites. To get the latest updates from SKOKOV, subscribe to a newsletter or connect with us on social media.
      .form-section__contact-wrap
        span.form-section__icon 
          i(class="fas fa-map-marker-alt")
        span.form-section__contact 43 GAGARINA STREET, KHARKOV, UKRAINE
      .form-section__contact-wrap
        span.form-section__icon
          i(class="fas fa-phone-alt")
        span.form-section__contact +38 (057) 777-05-05
      .form-section__contact-wrap
        span.form-section__icon
          i(class="fas fa-envelope")
        span.form-section__contact MYNAMEISSKOKOV@GMAIL.COM
    form.form-section__form(action="#")
      h3.form-section__form-title CONTACT
      span.form-section__form-desc Please contact us using contact form below.
      input.form-section__input.form-section__name(type="text" placeholder="Name" required)
      input.form-section__input.form-section__email(type="email" placeholder="Email" required)
      input.form-section__input.form-section__subject(type="text" placeholder="Subject" required)
      textarea.form-section__input.form-section__message(cols="30" rows="10" placeholder="Message" required)
      button.form-section__btn(type="submit") Send

