main.main
  include ../our-services/our-services
  include ../contact-us/contact-us
  include ../about-us/about-us
  include ../video-section/video-section
  include ../news-section/news-section
  include ../form-section/form-section