.contact-us {
  background: url("/assets/img/contact-us-bg.png") no-repeat;
  background-size: cover;
  background-color: #000000;
  &__content {
    padding: 98px 0 96px;
    text-align: center;
  }
  &__title {
    font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
    font-size: 32px;
    line-height: 57px;
    color: #ffffff;
    @media(max-width: 320px) {
      font-size: 24px;
    }
  }
  &__btn {
    margin: 27px auto 0;
  }
}