include ../btn/btn
section.contact-us.side-padding
  .contact-us__content.container
    h2.contact-us__title CONTACT US FOR A FREE, NO OBLIGATION CONFIDENTIAL EXPLORATION OF YOUR NEEDS
    +btn("Contact Us", "#")(class="contact-us__btn")
    