@font-face {
  font-family: "Verdana";
  src: url("../fonts/verdana.ttf");
}
@font-face {
  font-family: "Verdana-Bold";
  src: url("../fonts/verdana-bold.ttf");
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  font-family: "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
}
body,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.side-padding {
  padding: 0 40px;
}
.header__title {
  max-width: 672px;
  margin-bottom: 32px;
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 56px;
}
.header__desc,
.header__title {
  position: relative;
  color: #fff;
  z-index: 1;
}
.header__desc {
  max-width: 514px;
  margin-bottom: 45px;
  font-size: 20px;
}
.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__btn {
  position: relative;
  z-index: 1;
}
.header__btn:not(:last-child) {
  margin-right: 29px;
}
.nav-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 63px;
  z-index: 2;
}
.nav-bar__logo {
  margin-right: 50px;
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 29px;
  color: #fe504f;
}
.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 495px;
  padding-top: 10px;
}
.nav-bar__item {
  position: relative;
}
.nav-bar__item:not(:last-child) {
  margin-right: 10px;
}
.nav-bar__item:before {
  content: "";
  position: absolute;
  display: block;
  bottom: -7px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #fe504f;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav-bar__item:hover:before {
  left: 0;
  width: 100%;
}
.hamburger-menu {
  display: none;
}
.hamburger-menu__nav {
  position: absolute;
  top: 121px;
  right: 0;
  overflow: hidden;
  z-index: 999;
}
.hamburger-menu__list {
  width: 300px;
  margin-top: -200px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.hamburger-menu__list_is-visible {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
.hamburger-menu__item {
  padding: 10px 0;
}
.hamburger-menu__item:not(:last-child) {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.13);
}
.hamburger {
  position: relative;
  z-index: 999;
}
.shade-area_is-active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 216px;
  width: 216px;
  height: 65px;
  font-size: 20px;
  background-color: #fe504f;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background-color: #ff8383;
}
.btn_empty {
  background-color: #343434;
}
.btn_empty:hover {
  background-color: #5f5f5f;
}
.our-services {
  padding-bottom: 75px;
  text-align: center;
}
.our-services__section-title {
  margin-top: 3px;
  margin-bottom: 20px;
}
.our-services__desc {
  max-width: 920px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #adadad;
}
.our-services__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  -webkit-column-gap: 80px;
  -moz-column-gap: 80px;
  column-gap: 80px;
  row-gap: 30px;
  justify-items: center;
  margin-top: 66px;
}
.section-title {
  text-align: center;
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 22px;
}
.service-card {
  text-align: center;
  width: 230px;
}
.service-card__icon {
  margin-bottom: 8px;
}
.service-card__title {
  font-size: 16px;
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  line-height: 24px;
}
.service-card__title:after {
  content: "";
  display: block;
  width: 61px;
  height: 3px;
  background-color: #fe504f;
  margin: 4px auto 11px;
}
.service-card__desc {
  line-height: 24px;
  color: #adadad;
}
.contact-us {
  background: url("../img/contact-us-bg.png") no-repeat;
  background-size: cover;
  background-color: #000;
}
.contact-us__content {
  padding: 98px 0 96px;
  text-align: center;
}
.contact-us__title {
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  line-height: 57px;
  color: #fff;
}
.contact-us__btn {
  margin: 27px auto 0;
}
.about-us__content {
  padding: 76px 0 80px;
}
.about-us__desc {
  max-width: 875px;
  margin: 22px auto 0;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #adadad;
}
.about-us__wrap {
  display: grid;
  row-gap: 18px;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  margin-top: 69px;
}
.what-we-do {
  grid-column: 1/1;
  max-width: 576px;
}
.what-we-do__title {
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  color: #fe504f;
}
.what-we-do__title:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fe504f;
  margin: 10px 0 20px;
}
.what-we-do__desc {
  line-height: 24px;
}
.our-clients {
  grid-column: 2/2;
}
.our-clients__slider {
  max-width: 565px;
}
.our-clients__title {
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  color: #fe504f;
}
.our-clients__title:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fe504f;
  margin: 10px 0 30px;
}
.our-clients__logos {
  display: grid !important;
  grid-template-columns: repeat(3, 185px);
  gap: 5px;
}
.our-team {
  grid-column: 1/3;
}
.our-team__title {
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  color: #fe504f;
}
.our-team__title:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fe504f;
  margin: 10px 0 31px;
}
.our-team__team-members {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.team-member {
  position: relative;
  max-width: 200px;
  height: 200px;
  overflow: hidden;
}
.team-member:hover .team-member__desc {
  margin-top: 0;
  visibility: visible;
}
.team-member__desc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 200px;
  padding: 13px 20px;
  background-color: #fe504f;
  color: #fff;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.team-member__name {
  font-size: 32px;
}
.team-member__name,
.team-member__position {
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
}
.team-member__position {
  display: block;
  font-size: 12px;
}
.team-member__position:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 45px 0 8px;
  background-color: #bb3030;
}
.team-member__position-2 {
  font-size: 12px;
}
.video-section {
  background: url("../img/video-section-bg.png") no-repeat;
  background-size: cover;
  background-color: #000;
}
.video-section__content {
  padding: 89px 0 87px;
  text-align: center;
}
.video-section__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 92px;
  height: 92px;
  margin: 0 auto 28px;
  font-size: 24px;
  background-color: #fe504f;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.video-section__btn:hover {
  background-color: #adadad;
}
.video-section__title {
  margin-bottom: 14px;
  font-size: 34px;
  color: #fff;
}
.video-section__desc {
  max-width: 1006px;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.video-section__wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 4;
}
.video-section__wrap_is-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.video-section__video {
  border: none;
}
.video-section__cross {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 4;
}
.video-section__cross:hover {
  color: #fe504f;
}
.news-section__content {
  padding: 75px 0 80px;
}
.news-section__desc {
  max-width: 1082px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #adadad;
  margin: 21px auto auto;
}
.news-section__news-box {
  display: grid;
  grid-template-areas: "img-1 img-1 card-1 img-2" "card-2 img-3 img-3 card-3";
  gap: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 74px;
}
.news-section__img-1 {
  grid-area: img-1;
}
.news-section__img-2 {
  grid-area: img-2;
}
.news-section__img-3 {
  grid-area: img-3;
}
.news-preview-card {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 300px;
  height: 300px;
  padding: 24px 30px;
  background-color: #343434;
}
.news-preview-card__title {
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #fe504f;
}
.news-preview-card__title:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin: 11px 0 15px;
  background-color: #fe504f;
}
.news-preview-card__desc {
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
.news-preview-card__date {
  display: block;
  text-align: right;
  margin-top: 30px;
  margin-left: auto;
  font-size: 12px;
  color: #fe504f;
}
.news-preview-card__card-1 {
  grid-area: card-1;
}
.news-preview-card__card-1:after {
  content: "";
  position: absolute;
  left: -50px;
  top: 29px;
  border: 25px solid rgba(0, 0, 0, 0);
  border-right-color: #343434;
}
.news-preview-card__card-2 {
  grid-area: card-2;
}
.news-preview-card__card-2:after {
  content: "";
  position: absolute;
  right: -50px;
  top: 29px;
  border: 25px solid rgba(0, 0, 0, 0);
  border-left-color: #343434;
}
.news-preview-card__card-3 {
  grid-area: card-3;
}
.news-preview-card__card-3:after {
  content: "";
  position: absolute;
  right: 30px;
  top: -50px;
  border: 25px solid rgba(0, 0, 0, 0);
  border-bottom-color: #343434;
}
.form-section {
  background: url("../img/form-section-bg.png") no-repeat;
  background-size: cover;
  background-color: #000;
}
.form-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 93px 0 50px;
}
.form-section__address-col {
  max-width: 496px;
  margin-right: 50px;
}
.form-section__title {
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  margin-bottom: 27px;
  color: #fe504f;
}
.form-section__desc {
  line-height: 20px;
  color: #fff;
}
.form-section__desc:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 25px 0 40px;
  background-color: #fe504f;
}
.form-section__contact-wrap {
  margin-bottom: 15px;
  color: #fe504f;
}
.form-section__contact-wrap,
.form-section__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form-section__icon {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 28px;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  border: 1px solid #fe504f;
}
.form-section__contact {
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  color: #fff;
}
.form-section__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 445px;
  margin-right: 55px;
  width: 100%;
}
.form-section__form-title {
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 22px;
  color: #fe504f;
}
.form-section__form-title:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin: 15px 0 22px;
  background-color: #fe504f;
}
.form-section__form-desc {
  margin-bottom: 37px;
  color: #fff;
}
.form-section__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  color: #aeaeae;
  border: 1px solid #aeaeae;
}
.form-section__message {
  height: 190px;
  margin-bottom: 39px;
  font-size: 14px;
  resize: none;
}
.form-section__btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 130px;
  height: 40px;
  margin-left: auto;
  font-size: 16px;
  color: #fff;
  background-color: #fe504f;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form-section__btn:hover {
  background-color: #ff8383;
}
.footer {
  background-color: #343434;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0 37px;
}
.footer__copy {
  margin-right: 50px;
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  color: #fff;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 55px;
}
.footer__link {
  color: #fe504f;
  font-size: 21px;
  padding-left: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__link:hover {
  color: #ff8383;
}
.footer__link:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid #fe504f;
}
.your-profit {
  position: fixed;
  top: 30px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 97px;
  height: 35px;
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  color: #fff;
  background-color: #fe504f;
  border-radius: 4px;
  z-index: 3;
}
.your-profit:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  margin-top: -8px;
  border: 8px solid rgba(0, 0, 0, 0);
  border-left-color: #fe504f;
}
.news-header {
  position: relative;
  background: url("../img/header-bg.png") no-repeat;
  background-size: cover;
  background-color: #000;
}
.news-header__content {
  padding-top: 82px;
  padding-bottom: 420px;
  text-align: center;
}
.news-header__title {
  position: relative;
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 56px;
  color: #fff;
  z-index: 1;
}
.news-header__pattern {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
.news-main {
  position: relative;
  margin-top: -351px;
  z-index: 1;
}
.news-main__content {
  padding-bottom: 60px;
}
.news-main__search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 288px;
  margin-left: auto;
  padding: 6px;
  background-color: #343434;
}
.news-main__input {
  max-width: 241px;
  width: 100%;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fe504f;
}
.news-main__input,
.news-main__search-btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
}
.news-main__search-btn {
  min-width: 42px;
  width: 42px;
  font-size: 14px;
  background-color: #fe504f;
  color: #fff;
  border: none;
}
.news-main__news-box {
  display: grid;
  grid-template-areas: "img-1 img-1 card-1 img-2" "card-2 img-3 img-3 card-3";
  gap: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.news-main__img-1 {
  grid-area: img-1;
}
.news-main__img-2 {
  grid-area: img-2;
}
.news-main__img-3 {
  grid-area: img-3;
}
.news-main__btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 370px;
  width: 100%;
  height: 60px;
  margin: 60px auto 0;
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  background-color: #343434;
  color: #fe504f;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.news-main__btn:hover {
  background-color: #fe504f;
  color: #fff;
}
.header {
  position: relative;
  background: url("../img/header-bg.png") no-repeat;
  background-size: cover;
  background-color: #000;
}
.header__content {
  padding-top: 159px;
  padding-bottom: 302px;
}
.header__pattern {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
.post-main {
  position: relative;
  margin-top: -355px;
  z-index: 1;
}
.post-main__photo {
  width: 100%;
  height: auto;
}
.post-main__img-wrap {
  position: relative;
}
.post-main__title-wrap {
  position: absolute;
  bottom: 3px;
  left: 0;
  max-width: 450px;
  height: auto;
  padding: 30px;
  background-color: #343434;
}
.post-main__title-wrap:after {
  content: "";
  position: absolute;
  top: -50px;
  left: 50px;
  border: 25px solid rgba(0, 0, 0, 0);
  border-bottom-color: #343434;
}
.post-main__title {
  font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 19px;
  color: #fe504f;
}
.post-main__title:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin-top: 15px;
  margin-right: auto;
  background-color: #fe504f;
}
.post-main__article {
  max-width: 1075px;
  margin: 36px auto 66px;
  color: #343434;
}
.post-main__text {
  line-height: 26px;
}
.post-main__subtitle {
  margin: 44px 0 28px;
  font-size: 18px;
}
@media (max-width: 576px) {
  .side-padding {
    padding: 0 20px;
  }
  .header__title {
    font-size: 40px;
  }
  .header__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .hamburger-menu__list,
  .hamburger-menu__nav {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .header__title {
    font-size: 30px;
  }
}
@media (max-width: 270px) {
  .header__title {
    font-size: 25px;
  }
  .news-main__search-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .news-main__input {
    max-width: none;
  }
  .news-main__search-btn {
    width: 100%;
    margin-top: 5px;
  }
}
@media (max-width: 768px) {
  .nav-bar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-bar__list {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .post-main__title-wrap {
    position: relative;
  }
}
@media (max-width: 300px) {
  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-bar__logo {
    margin-right: 0;
  }
  .hamburger-menu__nav {
    top: 157px;
  }
  .form-section__contact-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .form-section__icon {
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .contact-us__title {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .our-clients,
  .our-team {
    grid-column: 1/1;
  }
  .form-section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .form-section__address-col {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .form-section__form {
    margin-right: 0;
  }
}
@media (max-width: 630px) {
  .our-clients__slider {
    max-width: 375px;
    margin: auto;
  }
  .our-clients__logos {
    grid-template-columns: repeat(2, 185px);
  }
}
@media (max-width: 420px) {
  .our-clients__slider {
    max-width: 205px;
  }
  .our-clients__logos {
    grid-template-columns: repeat(2, 100px);
  }
  .our-clients__logo {
    width: 100px;
  }
}
@media (max-width: 1270px) {
  .news-section__news-box {
    grid-template-areas: "img-1 img-1" "card-1 card-2" "img-3 img-3" "img-2 card-3";
  }
  .news-preview-card__card-1:after {
    left: 30px;
    top: -50px;
    border: 25px solid rgba(0, 0, 0, 0);
    border-bottom-color: #343434;
  }
  .news-preview-card__card-2:after {
    right: 30px;
    top: auto;
    bottom: -50px;
    border: 25px solid rgba(0, 0, 0, 0);
    border-top-color: #343434;
  }
  .news-preview-card__card-3:after {
    right: auto;
    top: 30px;
    left: -50px;
    border: 25px solid rgba(0, 0, 0, 0);
    border-right-color: #343434;
  }
  .news-main__search-bar {
    margin: auto;
  }
  .news-main__news-box {
    grid-template-areas: "img-1 img-1" "card-1 card-2" "img-3 img-3" "img-2 card-3";
  }
}
@media (max-width: 650px) {
  .news-section__news-box {
    grid-template-areas: "img-1" "card-1" "img-3" "card-2" "img-2" "card-3";
  }
  .news-section__img {
    max-width: 300px;
    width: 100%;
  }
  .news-preview-card__card-2:after,
  .news-preview-card__card-3:after {
    top: -50px;
    right: auto;
    bottom: auto;
    left: 30px;
    border: 25px solid rgba(0, 0, 0, 0);
    border-bottom-color: #343434;
  }
  .news-main__news-box {
    grid-template-areas: "img-1" "card-1" "img-3" "card-2" "img-2" "card-3";
  }
  .news-main__img {
    max-width: 300px;
    width: 100%;
  }
}
@media (max-width: 340px) {
  .news-preview-card {
    height: auto;
  }
}
@media (max-width: 470px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__copy {
    margin-right: 0;
  }
  .footer__socials {
    margin-top: 40px;
    margin-right: 0;
  }
}
