doctype html
html(lang="en")
  head
    script(src="https://kit.fontawesome.com/373daff928.js" crossorigin="anonymous")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Skokov
  body
    include ../../components/shade-area/shade-area
    include ../../components/your-profit/your-profit
    include ../../components/news-header/news-header
    include ../../components/news-main/news-main
    include ../../components/footer/footer