.header {
  position: relative;
  background: url("/assets/img/header-bg.png") no-repeat;
  background-size: cover;
  background-color: #000000;
  &__content {
    padding-top: 159px;
    padding-bottom: 302px;
  }
  &__title {
    max-width: 672px;
    margin-bottom: 32px;
    font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
    font-size: 56px;
    color: #ffffff;
    @media (max-width: $sm) {
      font-size: 40px;
    }
    @media (max-width: 375px) {
      font-size: 30px;
    }
    @media (max-width:270px) {
      font-size: 25px;
    }
  }
  &__desc {
    max-width: 514px;
    margin-bottom: 45px;
    font-size: 20px;
    color: #ffffff;
  }
  &__btns {
    display: flex;
    align-items: center;
    @media (max-width: $sm) {
      flex-direction: column;
    }
  }
  &__btn {
    &:not(:last-child) {
      margin-right: 29px;
      @media (max-width: $sm) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
  &__pattern {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}
