include ../section-title/section-title
section.about-us.side-padding
  .about-us__content.container
    +section-title("ABOUT US")
    p.about-us__desc SKOKOV is one of the world's leading management consulting firms. We care for our clients' business as our own, they know we're in this together
    .about-us__wrap
      include ../what-we-do/what-we-do
      include ../our-clients/our-clients
      include ../our-team/our-team
    