footer.footer.side-padding
  .footer__content.container
    span.footer__copy © 2014 SKOKOV - ALL RIGHTS RESERVED
    .footer__socials
      a.footer__link(href="#")
        i(class="fab fa-linkedin-in")
      a.footer__link(href="#")
        i(class="fab fa-facebook-f")
      a.footer__link(href="#")
        i(class="fab fa-twitter")
      a.footer__link(href="#")
        i(class="fab fa-youtube")