.nav-bar.container
  h2.nav-bar__logo SKOKOV
  ul.nav-bar__list
    li.nav-bar__item
      a.nav-bar__link(href="/index.html") HOME
    li.nav-bar__item
      a.nav-bar__link(href="#") SERVICES
    li.nav-bar__item
      a.nav-bar__link(href="#") ABOUT US
    li.nav-bar__item
      a.nav-bar__link(href="/news.html") NEWS
    li.nav-bar__item
      a.nav-bar__link(href="#") CONTACT
  include ../hamburger-menu/hamburger-menu