.post-main {
  position: relative;
  margin-top: -355px;
  z-index: 1;
  &__photo {
    width: 100%;
    height: auto;
  }
  &__img-wrap {
    position: relative;
  }
  &__title-wrap {
    position: absolute;
    bottom: 3px;
    left: 0;
    max-width: 450px;
    height: auto;
    padding: 30px;
    background-color: #343434;
    &:after {
      content: "";
      position: absolute;
      top: -50px;
      left: 50px;
      border: 25px solid transparent;
      border-bottom: 25px solid #343434;
    }
    @media(max-width: $md) {
      position: relative;
    }
  }
  &__title {
    font-family: "Verdana-Bold", "Arial", "Helvetica", sans-serif;
    font-size: 19px;
    color: $main;
    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 3px;
      margin-top: 15px;
      margin-right: auto;
      background-color: $main;
    }
  }
  &__article {
    max-width: 1075px;
    margin: 36px auto 66px auto;
    color: #343434;
  }
  &__text {
    line-height: 26px;
  }
  &__subtitle {
    margin: 44px 0 28px;
    font-size: 18px;
  }
}