.video-section {
  background: url("/assets/img/video-section-bg.png") no-repeat;
  background-size: cover;
  background-color: #000000;
  &__content {
    padding: 89px 0 87px;
    text-align: center;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 92px;
    margin: 0 auto 28px;
    font-size: 24px;
    background-color: $main;
    border-radius: 50%;
  }
  &__title {
    margin-bottom: 14px;
    font-size: 34px;
    color: #ffffff;
  }
  &__desc {
    max-width: 1006px;
    margin: auto;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
}