section.video-section.side-padding
  .video-section__content.container
    a.video-section__btn(href="#")
      i(class="video-section__icon fas fa-play")
    h3.video-section__title WE BLEND THE STRATEGIC WITH CREATIVE
    p.video-section__desc When someone asks what we do at SKOKOV, it’s tempting to point out our four-decade track record for helping to transform the world’s great companies into sharper, smarter, better versions of themselves. 
    .video-section__wrap
      a.video-section__cross(href="#")
        i(class="video-section__icon fas fa-times")
      iframe(class="video-section__video" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)