header.news-header.side-padding
  include ../nav-bar/nav-bar
  .news-header__content.container
    h1.news-header__title News
    img.news-header__pattern(src="/assets/img/header-pattern.png", alt="Header Pttern")