mixin team-member(src, name, position, position2)
  .team-member
    img.team-member__photo(src=src)
    .team-member__desc
      h3.team-member__name= name
      span.team-member__position= position
      span.team-member__position-2= position2